<app-header></app-header>

<div class="content">
  <span class="title-1 justify-content-center align-content-center flex text-center">
    Bienvenue sur l'application de détection
  </span>

  <p-button class="mt-6 justify-content-center align-content-center flex" routerLink="/detection-objets" styleClass="p-button-lg"
            label="Détectons des choses !">
  </p-button>

  <span class="justify-content-center align-content-center flex text-center mt-8">
    Dans le cadre ne notre projet PTS, nous avons développé une application de détection d'objets.
  </span>

  <span class="justify-content-center align-content-center flex text-center mt-4"><a routerLink="/a-propos">Découvrez notre projet</a></span>
</div>

<app-footer></app-footer>
