<app-header></app-header>

<div class="content">
  <span class="title-1 justify-content-center align-content-center flex text-center">
    Bienvenue sur l'application de détection d'armes
  </span>

  <p-button class="mt-6 justify-content-center align-content-center flex" routerLink="/detection-objets" label="Détectons des armes">
  </p-button>

  <span class="justify-content-center align-content-center flex text-center mt-8">
    Dans le cadre de notre projet PTS, nous avons développé une application de détection d'objets.
  </span>
</div>

<app-footer></app-footer>
