.header {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  padding: 1vh;
  border-bottom: 1px solid #dee2e6;
  box-shadow: 0 0 10px 0 rgba(8, 100, 207, .12);
}

.header-logo {
  height: 100%;
  min-height: 100%;
}
