footer {
  background-color: #162A83;
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

.logo img {
  width: 100%;
  max-width: 200px;
}

@media screen and (max-width: 768px) {
  footer {
    flex-direction: column;
  }

  .logo {
    margin-right: 0;
    margin-bottom: 20px;
  }
}
